# Ignore node_modules directory
node_modules/

# Ignore .env files which may contain sensitive information
.env

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore npm-debug.log file
npm-debug.log

# Ignore package-lock.json file
package-lock.json

# Ignore any other files or directories that you want to exclude from version control
